<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">Feiran Wu's Homepage</a>
    </h1>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      <a href="{{ '/archive/' | relative_url }}">Archive</a>
    
    </nav>
    <div class="lang-switch">
      <button id="lang-toggle">中文</button>
    </div>
  </div>
</header>